repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: trailing-whitespace
  - id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
    - id: ruff
      args: [--config, pyproject.toml, --select, I, --fix]
    - id: ruff
      args: [--config, pyproject.toml, --select, I, --fix]
    - id: ruff-format
      args: [ --config, pyproject.toml]